body {
  margin: 0;
  padding: 0;
  font-family: Stilu;
  background: rgb(246, 246, 246);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*스크롤 바 숨기기*/
/*body {*/
/*  scroll-behavior: smooth;*/
/*  -ms-overflow-style: none;*/
/*}*/
/*body::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

h1,
h2,
h3 {
  font-family: Stilu-Bold;
}

@font-face {
  font-family: 'Stilu';
  src: local('Stilu-Bold'), url('./components/fonts/Stilu-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Stilu';
  src: local('Stilu-SemiBold'), url('./components/fonts/Stilu-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Stilu';
  src: local('Stilu-Light'), url('./components/fonts/Stilu-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Stilu';
  src: local('Stilu'), url('./components/fonts/Stilu-Regular.otf') format('opentype');
}
